#! /usr/bin/zsh
source "${HOME}/{{- $.paths.dotfiles -}}/shell/functions/docker.bash"
source "${HOME}/{{- $.paths.dotfiles -}}/shell/functions/start_ssh_agent.bash"

source "${HOME}/{{- $.paths.dotfiles -}}/shell/widgets/navi.zsh"
source "${HOME}/{{- $.paths.dotfiles -}}/shell/widgets/tmux-binds.zsh"

# Source the SSH-agent pipeline only if not under WSL
# shellcheck disable=SC1009
# shellcheck disable=SC1054
# shellcheck disable=SC1056
# shellcheck disable=SC1072
# shellcheck disable=SC1073
# shellcheck disable=SC1083
{{ if ne .system.type "wsl" }}
	source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/ssh.bash"
{{ end }}


#>> Show the MOTD if it exists
if [ -e /etc/motd ] ; then
	cat /etc/motd
fi

#> NO OUTPUT SHOULD BE GENERATED AFTER THIS POINT DUE TO P10K INSTANT PROMPT
#source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/p10k_instant_prompt.zsh"

#>> Export values
#-> If we're NOT within TMUX, set the term. Otherwise, we leave it unset for .tmux.conf to handle
if [ -z "$TMUX" ] ; then
	export TERM=xterm-256color
fi
export MDV_THEME=960.847

source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/options.bash"

# Solarized colouring for ls
# https://github.com/seebi/dircolors-solarized
dircolorsPath="{{- $.paths.dotfiles -}}/external/dircolors-solarized/dircolors.256dark"
if [[ -e ${dircolorsPath} ]] ; then
	eval "$(dircolors "${dircolorsPath}")"
fi

source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/path_modification.bash"
source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/completions.bash"
source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/keybinds.bash"
source "${HOME}/{{- $.paths.dotfiles -}}/shell/snippets/shell_styling.zsh"
source "${HOME}/{{- $.paths.dotfiles -}}/shell/aliases.bash"


# Source default .profile file if it exists
# if [ -e "${HOME}"/.profile ] ; then
# 	source "${HOME}"/.profile || return 1
# fi

#shellcheck disable=SC1091
source "${HOME}/{{ $.paths.dotfiles -}}/external/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

#>> Misc reference
	# User configuration

	#export PATH=$HOME/bin:/usr/local/bin:$PATH
	# export MANPATH="/usr/local/man:$MANPATH"

	# You may need to manually set your language environment
	# export LANG=en_US.UTF-8

	# Preferred editor for local and remote sessions
	# if [[ -n $SSH_CONNECTION ]]; then
	#   export EDITOR='vim'
	# else
	#   export EDITOR='mvim'
	# fi

	# Compilation flags
	# export ARCHFLAGS="-arch x86_64"

	# ssh
	# export SSH_KEY_PATH="${HOME}/.ssh/dsa_id"

	# Some example alias instructions
	# If these are enabled they will be used instead of any instructions
	# they may mask. For example, alias rm='rm -i' will mask the rm
	# application. To override the alias instruction use a \ before, ie
	# \rm will call the real rm not the alias.
	#
	# Interactive operation...
	# alias rm='rm -i'
	# alias cp='cp -i'
	# alias mv='mv -i'
	#
	# Default to human readable figures
	# alias df='df -h'
	# alias du='du -h'
	#
	# Misc :)
	# alias less='less -r'                          # raw control characters
	# alias whence='type -a'                        # where, of a sort
	# alias grep='grep --color'                     # show differences in colour
	# alias egrep='egrep --color=auto'              # show differences in colour
	# alias fgrep='fgrep --color=auto'              # show differences in colour
	#
	# Some shortcuts for different directory listings
	# alias ls='ls -hF --color=tty'                 # classify files in colour
	# alias dir='ls --color=auto --format=vertical'
	# alias vdir='ls --color=auto --format=long'
	# alias ll='ls -l'                              # long list
	# alias la='ls -A'                              # all but . and ..
	# alias l='ls -CF'                              #

