set tabsize 4
set nowrap
include "~/{{ $.paths.dotfiles }}/nano/apacheconf.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/arduino.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/asciidoc.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/asm.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/awk.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/c.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/clojure.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/cmake.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/coffeescript.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/colortest.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/conf.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/csharp.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/css.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/cython.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/dot.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/dotenv.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/email.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/Dockerfile.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/etc-hosts.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/fish.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/fortran.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/gentoo.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/git.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/gitcommit.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/glsl.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/go.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/gradle.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/groff.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/haml.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/haskell.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/html.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/html.j2.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/ical.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/ini.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/inputrc.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/jade.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/java.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/javascript.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/js.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/json.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/keymap.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/kickstart.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/kotlin.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/ledger.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/lisp.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/lua.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/makefile.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/man.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/markdown.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/mpdconf.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/mutt.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/nanorc.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/nginx.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/nmap.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/ocaml.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/patch.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/peg.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/perl.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/perl6.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/php.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/pkg-config.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/pkgbuild.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/po.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/pov.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/privoxy.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/puppet.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/pug.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/python.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/reST.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/rpmspec.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/ruby.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/rust.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/scala.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/sed.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/sh.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/sls.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/sql.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/svn.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/swift.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/systemd.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/tcl.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/tex.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/vala.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/verilog.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/vi.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/xml.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/xresources.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/yaml.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/yum.nanorc"
include "~/{{ $.paths.dotfiles }}/nano/zsh.nanorc"
